
@{
    ViewBag.Title = "Experience";
}

<h2>Experience</h2>

<h2 style="color:lightskyblue; text-decoration:underline">Experience</h2>
<div>
    <div>
        <h1>Clint Side</h1>
        <ul>
            <li>@ViewBag.React</li>
            <li>@ViewBag.Html</li>
            <li>@ViewBag.Css</li>
            <li>@ViewBag.BootStrap</li>
        </ul>
    </div>
    <div>
        <h1>Server Side</h1>
        <ul>
            <li>@ViewBag.Node</li>
            <li>@ViewBag.Express</li>
            <li>@ViewBag.Net</li>
        </ul>
    </div>
    <div>
        <h1>Backend</h1>
        <ul>
            <li>@ViewBag.SqlServer</li>
            <li>@ViewBag.MongoDB</li>
        </ul>
    </div>
</div>