
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<h2 style="color:lightskyblue; text-decoration:underline">Experience</h2>
<div>
    <div>
        <h1>Degree Education</h1>
        <h4>DegreeCollege - <b>@ViewBag.DegreeCollege</b></h4>
        <h4>Stream - <b>@ViewBag.DegreeStream</b> </h4>
        <h4>Percentage -<b>@ViewBag.DegreePercentage</b> </h4>
    </div>

    <div>
        <h1>School Education</h1>
        <h4>School Name - <b>@ViewBag.SchoolName</b></h4>
        <h4>Stream - <b>@ViewBag.Stream</b> </h4>
        <h4>Percentage -<b>@ViewBag.Percentage</b> </h4>
    </div>
    <div>
        <h1>College Education</h1>
        <h4>College Name - <b>@ViewBag.CollegeName</b></h4>
        <h4>Stream -<b>@ViewBag.CollegeStream</b> </h4>
        <h4>Percentage - <b>@ViewBag.CollegePercentage</b></h4>
    </div>
</div>
